@import "tailwindcss";

@theme {
  --color-primary: #064e3b; /* green-900 */
  --color-primary-dark: #064e3b;
  --color-primary-light: #ecfdf5; /* green-50 */
}

body {
  @apply bg-white text-slate-800;
}
